[mysqld]
default_storage_engine  = InnoDB
lc_messages_dir         = /usr/share/mysql
lc_messages             = en_US
character_set_server    = utf8mb4
collation_server        = utf8mb4_unicode_ci
transaction-isolation   = READ-COMMITTED
transaction-read-only   = OFF
performance_schema      = ON
symbolic-links          = 0
connect_timeout         = 60
log_warnings            = 2
max_allowed_packet      = 256M
query_cache_limit       = 256K
query_cache_size        = 0
query_cache_type        = 0

#log_bin                 = /var/log/mysql/mariadb-bin
#log_bin_index           = /var/log/mysql/mariadb-bin.index
#expire_logs_days        = 1
#max_binlog_size         = 100M
#binlog_row_image        = minimal
#binlog_format           = ROW
#slow_query_log          = 1
#long_query_time         = 10
#slow_query_log_file     = /var/log/mysql/sql-slow-query.log
#log_queries_not_using_indexes
#innodb-defragment       = 1
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
sql_mode                = NO_ENGINE_SUBSTITUTION
# you can't just change log file size, requires special procedure
#innodb_log_file_size   = 50M
innodb_file_per_table   = 1
innodb_use_native_aio   = 1
innodb_lock_wait_timeout = 300
innodb_stats_on_metadata = OFF
innodb_adaptive_hash_index = 0
innodb_default_row_format = dynamic
innodb_doublewrite = 0
